body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: #179b81;
}

.form-control {
    font-size: 15px;
}

.form-control,
.form-control:focus,
.input-group-text {
    border-color: #e1e1e1;
}

.form-control,
.btn {
    border-radius: 3px;
}

.login-form {
    width: 400px;
    margin: 0 auto;
    padding: 118px 0;
}

.login-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #333;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    color: #fff;
    font-weight: bold;
    margin-top: 0;
}

.login-form hr {
    margin: 0 -30px 20px;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
    font-weight: normal;
    font-size: 15px;
}

.login-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}

.login-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}

.login-form .btn,
.login-form .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d !important;
    border: none;
    padding-left: 150px;
    padding-right: 150px;

}

.login-form .btn:hover,
.login-form .btn:focus {
    background: #179b81 !important;
}

.login-form a {
    color: #fff;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
    background-color: #e1e1e1;
    color: #333;
}

.login-form form a {
    color: #19aa8d;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}

.login-form .fa {
    font-size: 21px;
}

.login-form .fa-paper-plane {
    font-size: 18px;
}

.login-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}