body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-image: url('../../img/Capture.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.form-control {
    font-size: 15px;
}

.form-control,
.form-control:focus,
.input-group-text {
    border-color: #e1e1e1;
}

.form-control,
.btn {
    border-radius: 3px;
}

.login-form {
    width: 400px;
    margin: 0 auto;
}

.login-form form {
    color: black;
    border-radius: 3px;
    margin-bottom: 15px;
    background: whitesmoke;
    opacity: 0.9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.fill {
    color: gray;
}

.position-relative {
    position: relative;
}
.invalid-feedback {
    position: absolute;
    margin-top: -5px;
    left: 0;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
}
.login-form h2 {
    color: black;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
}

.login-form hr {
    margin: 0 -30px 20px;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
    font-weight: normal;
    font-size: 15px;
}

.login-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}

.login-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}

.login-form .btn,
.login-form .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d !important;
    border: none;
    padding-left: 150px;
    padding-right: 150px;

}

.login-form .btn:hover,
.login-form .btn:focus {
    background: #179b81 !important;
}

.login-form a {
    color: #fff;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
    background-color: #e1e1e1;
    color: #333;
}

.login-form form a {
    color: #19aa8d;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}

.login-form .fa {
    font-size: 21px;
}

.login-form .fa-paper-plane {
    font-size: 18px;
}

.login-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}


/* insert css */
.form-horizontal {
    /* Add your form container styles here */
    margin-top: 100px;
    width: 400px;
    /* Set the width of the form container */
    padding: 20px;
    /* Add some padding to the form container */
    background-color: #f0f0f0;
    /* Set the background color */
    border: 1px solid #ccc;
    /* Add a border */
    border-radius: 5px;
    /* Add some border radius for rounded corners */
}

h1 {
    text-align: center;
    color: #0c0101;
    /* Text color for the heading */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0a0101;
    /* Text color for labels */
}


input[type="text"],
input[type="password"] {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #a52626;
    /* Blue button color */
    color: #fff;
    /* Text color for the button */
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a52626;
    /* Darker blue on hover */
}

.register {
    text-align: center;
    margin-top: 10px;

}

.register a {
    text-decoration: none;
    color: #d30516;
    /* Link color */
}

.register a:hover {
    text-decoration: underline;
}

#title {
    text-align: center;
    background-color: #a52626;
    color: rgb(248, 241, 241);
    padding: 10px;
    border-radius: 5px;
}

.service {
    margin-top: -50px;
}

.transaction {
    color: whitesmoke;
    text-align: center;
}

.payment {
    color: white;
    font-size: 3rem;
}

.provide {
    color: rgb(109, 226, 235);
}

.E {
    color: red;
}

