@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: black;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    /* background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; */

}

a {
    text-decoration: none
}

.View {
    margin-left: 220px;
    color: rgb(5, 41, 245);
}

.v-more {
    color: rgb(3, 40, 252);
    margin-left: 170px;

}

/* css dashboard student dashboard */
.card-footer {
    background-color: #d2cde6;
}

.footer-1 {
    background-color: rgb(255, 255, 255);
    backdrop-filter: saturate(8);
}

.footer-2 {
    background-color: rgb(255, 255, 254);
}

/* mag untol untol nga animation css */
.card {
    background-color: rgb(5, 5, 5);
    border-color: transparent;
    backdrop-filter: saturate(8);
    color: white;
    margin-top: 100px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;


}

/* div.card-3{
        width: 250px;
        height: 110px;
        overflow: auto;
        border-color: transparent;
      
} */


.card:hover {
    transform: translateY(-15px);
}

/* 
  .card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #ffbc00, #ff0058);
    border-radius: 1.2em;
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbc00, #ff0058);
    filter: blur(30px);
  }
  
  .card span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 1em;
  }
  
  .card span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .card .content {
    position: relative;
    padding: 10px;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 1.5em;
  } */

.container {
    border-radius: 9px;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show-l-navbar {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show-l-navbar {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

.nav-item {
    list-style-type: none;
    cursor: pointer;
    text-transform: capitalize;
}

th,
td {
    text-align: center;
}

.description-capitalization {
    text-transform: capitalize;
}

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: black;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

.admin {
    background-color: white;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

#displayYear {
    text-align: center;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show-l-navbar {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}


@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show-l-navbar {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }

    .icon-card {
        font-size: 70px;
    }
}

/*********** admin dashboard styling **********/
.card {
    background-color: rgb(51, 130, 161);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #3B3131;
}

/* added */
.header-admin {
    width: 100%;
    height: var(--header-height);
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}










/* salas css */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

body {
    font-family: 'Open Sans', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
    /* background-image: url('/public/img/slider-bg.jpg'); */
}

/*header section*/
.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* .sub_page .hero_area {
    min-height: auto;
}

.sub_page .header_section {
    margin-top: 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.header_section .header_top {
    padding: 15px 0;
    background-color: #04233b;
}

.header_section .header_top .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header_section .header_top .contact_nav a {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
}

.header_section .header_top .contact_nav a i {
    margin-right: 5px;
    border-radius: 100%;
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #0a97b0;
}

.header_section .header_top .contact_nav a:hover i {
    color: #04233b;
}

.header_section .header_bottom {
    background-color: #ffffff;
    padding: 15px 0;
}

.header_section .header_bottom .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #0a97b0;
}

.custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #000000;
}

.custom_nav-container .nav_search-btn:hover {
    color: #000000;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
    transform: none;
} */

/*end header section*/
/* slider section */
.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

/* slider diri dapita */
.slider_section .slider_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.slider_section .slider_bg_box img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.slider_section .slider_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(37, 37, 37, 0.9)), to(rgba(37, 37, 37, 0.7)));
    background: linear-gradient(to right, rgba(37, 37, 36, 0.9), rgba(37, 37, 37, 0.7));
}

/* slider diri dapita */

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* .slider_section #customCarousel1 {
    width: 100%;
    position: unset;
} */

.slider_section .detail-box {
    color: #04233b;
}

.slider_section .detail-box h1 {
    font-weight: bold;
    text-transform: none;
    font-size: 50px;
    margin-bottom: 15px;
    color: #ffffff;
    align-items: center;
}

.slider_section .detail-box p {
    color: rgb(216, 210, 210);
    font-size: 16px;
}

.slider_section .detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px;
    margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
    margin: 5px;
    text-align: center;
    width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #0a97b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    border-radius: 3px;
}

.slider_section .detail-box .btn-box .btn1:hover {
    background-color: #065968;
}

.slider_section .detail-box .btn-box .btn2 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
    background-color: black;
}

.slider_section .carousel-indicators {
    position: unset;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 45px;
}

.slider_section .carousel-indicators li {
    background-color: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    opacity: 1;
}

.slider_section .carousel-indicators li.active {
    width: 20px;
    height: 20px;
    background-color: #0a97b0;
}

/* 
.service_section {
    position: relative;
}

.service_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px;
    background-color: #f8f8f9;
    padding: 20px;
    border-radius: 5px;
}

.service_section .box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 125px;
    min-width: 75px;
    height: 75px;
    margin-right: 25px;
}

.service_section .box .img-box img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.service_section .box .detail-box h5 {
    font-weight: bold;
    text-transform: uppercase;
}

.service_section .box .detail-box a {
    color: #04233b;
    font-weight: 600;
}

.service_section .box .detail-box a:hover {
    color: #0a97b0;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box {
    position: relative;
}

.about_section .img-box img {
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.about_section .img-box::before,
.about_section .img-box::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45px;
    height: 70%;
    background-color: #04233b;
    z-index: 3;
}

.about_section .img-box::before {
    left: 0;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about_section .img-box::after {
    right: 0;
    z-index: 1;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.about_section .detail-box p {
    color: #1f1f1f;
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #0a97b0;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: #065968;
}

.track_section {
    position: relative;
    color: #ffffff;
}

.track_section .track_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.track_section .track_bg_box img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.track_section .track_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(37, 37, 37, 0.95)), to(rgba(37, 37, 37, 0.55)));
    background: linear-gradient(to right, rgba(37, 37, 37, 0.95), rgba(37, 37, 37, 0.55));
}

.track_section p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.track_section form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.track_section form input {
    background-color: #ffffff;
    border: none;
    -webkit-box-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5;
    outline: none;
    color: #000000;
    min-height: 42.4px;
    padding-left: 15px;
}

.track_section form input ::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.2;
}

.track_section form input :-ms-input-placeholder {
    color: #ffffff;
    opacity: 0.2;
}

.track_section form input ::-ms-input-placeholder {
    color: #ffffff;
    opacity: 0.2;
}

.track_section form input ::placeholder {
    color: #ffffff;
    opacity: 0.2;
}

.track_section form button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    padding: 9px 30px;
    background-color: #0a97b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
}

.track_section form button:hover {
    background-color: #065968;
}

.client_section .client_container {
    width: 75%;
    margin-top: 45px;
}

.client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 5px;
}

.client_section .box .detail-box {
    border: 1px solid #dddddd;
    padding: 25px;
    margin-bottom: 25px;
}

.client_section .box .client_id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.client_section .box .client_id .img-box {
    position: relative;
    width: 75px;
    height: 75px;
}

.client_section .box .client_id .img-box img {
    width: 100%;
}

.client_section .box .client_id .name {
    margin-left: 15px;
}

.client_section .box .client_id .name h6 {
    color: #23242a;
    font-size: 18px;
    margin-bottom: 0;
}

.client_section .box .client_id .name p {
    margin-bottom: 0;
}

.client_section .carousel-wrap {
    margin: 0 auto;
    position: relative;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -15%;
    outline: none;
    background-color: #0a97b0;
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
    background-color: #161825;
}

.client_section .owl-carousel .owl-nav .owl-prev {
    top: 25%;
    background-image: url(../images/prev.png);
}

.client_section .owl-carousel .owl-nav .owl-next {
    top: calc(25% + 65px);
    background-image: url(../images/next.png);
}

.contact_section {
    position: relative;
    padding-bottom: 90px;
}

.contact_section .heading_container {
    margin-bottom: 25px;
}

.contact_section .heading_container h2 {
    text-transform: uppercase;
}

.contact_section .form_container {
    margin-right: 15px;
}

.contact_section .form_container input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.contact_section .form_container input::-webkit-input-placeholder {
    color: #04233b;
}

.contact_section .form_container input:-ms-input-placeholder {
    color: #04233b;
}

.contact_section .form_container input::-ms-input-placeholder {
    color: #04233b;
}

.contact_section .form_container input::placeholder {
    color: #04233b;
}

.contact_section .form_container input.message-box {
    height: 120px;
}

.contact_section .form_container button {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 55px;
    background-color: #0a97b0;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
}

.contact_section .form_container button:hover {
    background-color: #065968;
}

.contact_section .map_container {
    height: 420px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.contact_section .map_container .map {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.contact_section .map_container .map #googleMap {
    height: 100%;
}

.info_section {
    background-color: #04233b;
    color: #ffffff;
    padding: 45px 0 15px 0;
}

.info_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

.info_section .info_col {
    margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
    margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
    color: #0a97b0;
}

.info_section .info_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info_section .info_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 24px;
}

.info_section .info_social a:hover {
    color: #0a97b0;
}

.info_section .info_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.info_section .info_links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    color: #ffffff;
}

.info_section .info_links a:hover {
    color: #0a97b0;
}

.info_section form input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    width: 100%;
    height: 45px;
    color: #ffffff;
    outline: none;
}

.info_section form input::-webkit-input-placeholder {
    color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
    color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
    color: #ffffff;
}

.info_section form input::placeholder {
    color: #ffffff;
}

.info_section form button {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 55px;
    background-color: #0a97b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    margin-top: 15px;
}

.info_section form button:hover {
    background-color: #065968;
} */

/* footer section*/
.footer_section {
    position: relative;
    background-color: #212b21;
    text-align: center;
}

.footer_section p {
    color: white;
    padding: 12px 0;
    margin: 0;
}

.footer_section p a {
    color: inherit;
}